@layout('layouts.main')
@section('title')
    <title>{{APP_NAME}}</title>
@endsection
@section('content')
<!-- Main content -->
<section class="content">
    <div class="center-content">
        <h3>{{ message }}</h3>
        <a href="/">Back to Home.</a>
    </div>
</section>
<!-- /.content -->
@endsection