<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <h2>403</h2>
    <h4>Forbidden Access</h4>
    <div class="subtitle">
      <p>You're not authorized to access this page!</p>
    </div>
  </section>
</body>
</html>
